<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">

    <!-- DataTables and jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"/>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

    {% if title %}
    <title>Dynamic Deal Scoring - {{title}}</title>
    {% else %}
    <title>Dynamic Deal Scoring</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Dynamic Deal Scoring</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <div>
                    <input type="file" name="file">
                    <input type="submit" id="btn_submit"/>
                </div>
            </div>
        </div>
    </nav>
</header>

<article>
    <h2>{{ header_1 }}</h2>
    <div id="table_div">
        {{ table|safe }}
    </div>
    {% if header_2 %}
    <h2>{{ header_2 }}</h2>
    {% endif %}
    {% if image %}
    <img class="w3-round" src="{{image}}">
    {% endif %}
</article>

<!-- JavaScript -->
<script type="text/javascript">
    $("#btn_submit").on("click", function () {
        var file = $("#file");
        var jqxhr = $.get("/get-table", {file: "bla"}, function () {
            if (jqxhr.status === 200) {
                var table = document.getElementById('table_div');
                table.innerHTML = jqxhr.responseText;
                 $(document).ready(function () {
                    $('#table_id').DataTable();
                 });
                alert("Table successfully loaded!");
            } else {
                alert("You didn't load a valid .csv file! Try again!");
            }
        });
    });
</script>

<!-- Optional JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
