.table {
    font-size: 8pt;
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid silver;

}

.table td, th {
    padding: 5px;
}

.table tr:nth-child(even) {
    background: #7a8df0;
}

.table tr:hover {
    background: silver;
    cursor: pointer;
}
